accelerate==0.31.0
bitsandbytes==0.43.1
datasets==2.16.0
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-text-splitters
nest_asyncio
peft==0.11.1
torch==2.2.2
transformers==4.42.1
trl==0.9.4